<html>
    <head>
        {% if title %}
        <title>{{ title }} - photography</title>
        {% else %}
        <title>photography</title>
        {% endif %}
    </head>
    <body>
        <div>
            photograph:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('upload') }}">Upload</a><br>
            <a href="{{ url_for('register') }}" >New User?Register Here</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
